<main class="page__content">
    <article class="contest-article">
        <header class="contest-article__header">
            <img src="./assets/images/maarten-van-den-heuvel-EzH46XCDQRY-unsplash-2400.jpg" alt="Imagen representativa del Concurso de Cocina Comarcal" class="contest-article__image">
            <h1 class="contest-article__title">Sobre Concurso de Cocina Comarcal</h1>
        </header>
        <p class="contest-article__author">Por: <span class="contest-article__author--highlighted">Equipo Organizador</span></p>
        <div class="contest-article__content">
            <section class="about">
                <h2 class="about__heading">Sobre el concurso</h2>
                <div class="about__container">
                    <p class="about__paragraph">Este año, estamos emocionados de anunciar el lanzamiento del primer Concurso de Cocina Comarcal, una iniciativa que surge del amor compartido por la buena comida y la hospitalidad entre vecinos. Inspirado por el éxito de nuestras fiestas locales y el deseo de fomentar aún más la creatividad culinaria en nuestra comunidad, hemos decidido dar vida a este emocionante evento. Si todo va según lo planeado, esperamos convertirlo en una tradición anual que reúna a amigos y familiares en torno a los placeres de la mesa.</p>
                    <p class="about__paragraph">El Concurso de Cocina Comarcal es un homenaje a la riqueza y variedad de sabores que caracterizan a nuestra región. Desde los platos tradicionales transmitidos de generación en generación hasta las creaciones más innovadoras y vanguardistas, cada participante tiene la oportunidad de mostrar su talento y su pasión por la cocina. Nos enorgullece ser testigos de la diversidad gastronómica que florece en nuestros hogares y que se refleja en cada plato presentado en el concurso.</p>
                    <p class="about__paragraph">El concurso se celebrará en el Polideportivo del Nuevo Mar (Donis), los días 25 y 26 de Mayo. <a class="about__link" href="#!">Añade este evento a tu calendario</a>. ¡No puedes faltar!</p>
                </div>
            </section>  
            <section class="judges" id="jurado">
                <h2 class="judges__heading">Miembros del Jurado</h2>
                <p class="judges__paragraph">Para garantizar la imparcialidad y la excelencia en la evaluación de los platos, hemos reunido un panel de jueces de renombre, expertos en el arte culinario catalán. Su experiencia y conocimiento aportan un valor inestimable al concurso, asegurando que se reconozcan y premien los sabores más auténticos y creativos. A continuación, presentamos a los distinguidos miembros del jurado:</p>
                <div class="judges__list row">
                    <div class="judges__item col-md-3">
                        <h3 class="judges__name">Carles Puentes</h3>
                        <div class="judges__image">
                            <img class="judges__image--responsive" src="./assets/images/contestants/male8.jpg" alt="Foto del Juez 1">
                        </div>
                        <p class="judges__bio">Con más de 10 años de experiencia en el mundo culinario, Carles ha sido galardonado con múltiples premios y reconocimientos por su destreza en la cocina mediterránea. Su especialidad radica en la fusión de sabores tradicionales con técnicas innovadoras, creando platos que deleitan los paladares más exigentes.</p>
                        <blockquote class="judges__quote">
                            <p class="judges__quote-text">Soy un juez duro pero justo, espero vuestros mejores platos.</p>
                            <cite class="judges__quote-cite">Carles Puentes</cite>
                        </blockquote>
                    </div>
                    <div class="judges__item col-md-3">
                        <h3 class="judges__name">Carolina García</h3>
                        <div class="judges__image">
                            <img class="judges__image--responsive" src="./assets/images/contestants/female12.jpg" alt="Foto del Juez 2">
                        </div>
                        <p class="judges__bio">Pese a su juventud, Carolina se ha dedicado los últimos cinco años a recorrer el mundo buscando inspiración en una variedad de culturas culinarias. Su enfoque innovador combina técnicas tradicionales con ingredientes exóticos, creando platos que son una verdadera celebración de la diversidad.</p>
                        <blockquote class="judges__quote">
                            <p class="judges__quote-text">Cada plato es un viaje que cuenta una historia, quiero que me cuentes la tuya.</p>
                            <cite class="judges__quote-cite">Carolina García</cite>
                        </blockquote>
                    </div>
                    <div class="judges__item col-md-3">
                        <h3 class="judges__name">Dolors Torrent</h3>
                        <div class="judges__image">
                            <img class="judges__image--responsive" src="./assets/images/contestants/female10.jpg" alt="Foto del Juez 3">
                        </div>
                        <p class="judges__bio">Con una trayectoria de décadas en la industria culinaria, Dolors es una maestra en la cocina tradicional catalana. Su profundo conocimiento de los sabores locales y su habilidad para perfeccionar las recetas clásicas la convierten en una jueza experta.</p>
                        <blockquote class="judges__quote">
                            <p class="judges__quote-text">La cocina es un arte que se aprende a lo largo de toda la vida.</p>
                            <cite class="judges__quote-cite">Dolors Torrent</cite>
                        </blockquote>
                    </div>
                </div>
            </section>
            <section class="prizes" id="premios">
                <h2 class="prizes__heading">Premios</h2>
                <p class="prizes__paragraph">Además del honor y el reconocimiento, los ganadores del Concurso de Cocina Comarcal tendrán la oportunidad de llevarse premios tentadores, que van desde utensilios de cocina de alta calidad hasta experiencias gastronómicas únicas, cortesía de nuestros generosos patrocinadores. A continuación, detallamos los premios que se entregarán en el evento:</p>
                <ol class="prizes__list">
                    <li class="prizes__item"><span class="prizes__item--bold">Primer Premio:</span> Tarjeta regalo de 100€, robot de cocina de última generación y experiencia gastronómica.</li>
                    <li class="prizes__item"><span class="prizes__item--bold">Segundo Premio:</span> Tarjeta regalo de 30€ y utensilios de cocina de alta calidad.</li>
                    <li class="prizes__item"><span class="prizes__item--bold">Tercer Premio:</span> Utensilios de cocina básicos.</li>
                </ol>
                <p class="prizes__paragraph">Te invitamos a formar parte de esta emocionante aventura culinaria y a compartir tus habilidades gastronómicas con nuestra comunidad. Ya sea que seas un experto en la cocina o un entusiasta aficionado, el Concurso de Cocina Comarcal es tu oportunidad para brillar y dejar tu marca en la historia culinaria de nuestra región. ¡Esperamos con ansias conocer tus creaciones y celebrar juntos una experiencia gastronómica inolvidable!</p>
            </section>
            <section class="sign-up">
                <p class="sign-up__description">Aún estás a tiempo de inscribirte al concurso y ganar <a class="link-primary" href="#premios">magníficos premios</a> <i class="fa-solid fa-trophy"></p>
                <p class="sign-up__description">Últimas plazas disponibles.</p>
                <button class="sign-up__button btn btn-primary" onclick="window.location.href='./inscripcion.html'">Inscribirse <i class="fa-solid fa-utensils"></i></button>
            </section>
        </div>
        <p class="page__disclaimer">Disclaimer: Estas personas no son reales, sus perfiles se han realizado con la ayuda de herramientas de IA.</p>
    </article>
</main>