<main class="page__content">
    <h2 class="page__heading">Participantes de la comarca</h2>
    <div class="participant">
        <div class="participant__individual">
            <div class="participant__image">
                <img class="participant__image--responsive" src="./assets/images/contestants/female5.jpg" alt="Participant 1">
            </div>
            <div class="participant__info">
                <h2 class="participant__name">Anna Vidal</h2>
                <p class="participant__age">34 años</p>
                <p class="participant__profession">Profesora de bachillerato</p>
                <blockquote class="participant__quote">
                    <q>Cocinar es un acto de generosidad y cuidado. Me encanta ver cómo mis platos traen sonrisas a los rostros de quienes amo.</q>
                </blockquote>
            </div>
        </div>
        <div class="participant__individual">
            <div class="participant__image">
                <img class="participant__image--responsive" src="./assets/images/contestants/male2.jpg" alt="Participant 2">
            </div>
            <div class="participant__info">
                <h2 class="participant__name">Pol Costa</h2>
                <p class="participant__age">22 años</p>
                <p class="participant__profession">Diseñador gráfico</p>
                <p class="participant__quote"><q>Cocinar es mi forma de expresión. Me permite experimentar, improvisar y crear algo único que refleje mi personalidad y mis gustos.</q></p>
            </div>
        </div>
        <div class="participant__individual">
            <div class="participant__image">
                <img class="participant__image--responsive" src="./assets/images/contestants/male1.jpg" alt="Participant 3">
            </div>
            <div class="participant__info">
                <h2 class="participant__name">Lucas García</h2>
                <p class="participant__age">56 años</p>
                <p class="participant__profession">Peluquero</p>
                <p class="participant__quote"><q>La cocina es un viaje de descubrimiento. Me lleva a explorar nuevos ingredientes, técnicas y culturas, enriqueciendo mi vida de formas inesperadas.</q></p>
            </div>
        </div>
        <div class="participant__individual">
            <div class="participant__image">
                <img class="participant__image--responsive" src="./assets/images/contestants/female3.jpg" alt="Participant 4">
            </div>
            <div class="participant__info">
                <h2 class="participant__name">Laia Roca</h2>
                <p class="participant__age">28 años</p>
                <p class="participant__profession">Fotógrafa</p>
                <p class="participant__quote"><q>La cocina es mi refugio creativo; me encanta perderme entre especias y ingredientes, creando platos que despiertan emociones y recuerdos.</q></p>
            </div>
        </div>
        <div class="participant__individual">
            <div class="participant__image">
                <img class="participant__image--responsive" src="./assets/images/contestants/male9.jpg" alt="Participant 5">
            </div>
            <div class="participant__info">
                <h2 class="participant__name">Oriol Bosch</h2>
                <p class="participant__age">45 años</p>
                <p class="participant__profession">Camarero de bar</p>
                <p class="participant__quote"><q>Cocinar es un acto de amor y conexión. Me inspira la alegría que trae a quienes comparten mi mesa y el vínculo que crea entre culturas.</q></p>
            </div>
        </div>
        <div class="participant__individual">
            <div class="participant__image">
                <img class="participant__image--responsive" src="./assets/images/contestants/female13.jpg" alt="Participant 6">
            </div>
            <div class="participant__info">
                <h2 class="participant__name">Carmen Garriga</h2>
                <p class="participant__age">37 años</p>
                <p class="participant__profession">Pediatra</p>
                <p class="participant__quote"><q>La cocina es mi forma de conectarme con mis raíces y honrar a quienes vinieron antes que yo. Cada receta es un tributo a mi herencia y mi familia.</q></p>
            </div>
        </div>
        <div class="participant__individual">
            <div class="participant__image">
                <img class="participant__image--responsive" src="./assets/images/contestants/female9.jpg" alt="Participant 7">
            </div>
            <div class="participant__info">
                <h2 class="participant__name">Laura Uribe</h2>
                <p class="participant__age">26 años</p>
                <p class="participant__profession">Cocinera</p>
                <p class="participant__quote"><q>Cocinar es mi forma de preservar los sabores de mi tierra y compartirlos con el mundo.</q></p>
            </div>
        </div>
        <div class="participant__individual">
            <div class="participant__image">
                <img class="participant__image--responsive" src="./assets/images/contestants/male7.jpg" alt="Participant 8">
            </div>
            <div class="participant__info">
                <h2 class="participant__name">Martí Serra</h2>
                <p class="participant__age">32 años</p>
                <p class="participant__profession">Constructor</p>
                <p class="participant__quote"><q>Cocinar me permite experimentar con sabores y texturas, y compartir mi pasión con los demás es una experiencia incomparable.</q></p>
            </div>
        </div>
    </div>
    <div class="sign-up">
        <p class="sign-up__description">Aún estás a tiempo de inscribirte al concurso y ganar <a class="link-primary" href="sobre-el-concurso.html#premios">magníficos premios</a> <i class="fa-solid fa-trophy"></i></p>
        <p class="sign-up__description">Últimas plazas disponibles.</p>
        <button class="sign-up__button btn btn-primary" onclick="window.location.href='./inscripcion.html'">Inscribirse <i class="fa-solid fa-utensils"></i></button>
    </div>
    <p class="page__disclaimer">Disclaimer: Estas personas no son reales, sus perfiles se han realizado con la ayuda de herramientas de IA.</p>
</main>