<header class="header sticky-top d-flex flex-column flex-md-row justify-content-center p-2 border-bottom">
    <a href="/" class="header__link d-flex align-items-center mb-3 me-md-auto text-dark text-decoration-none">
        <img class="header__logo pe-1" src="./assets/images/logo.png" alt="Logo concurso de cocina">
        <h1 class="header__title">Concurso de Cocina Comarcal</h1>
    </a>
    <ul class="nav align-items-center mb-3 mb-md-0">
        <li class="nav__item">
            <a class="nav__link nav-link" href="./participantes.html">Participantes</a>  
        </li>
        <li class="nav__item">
            <a class="nav__link nav-link" href="./sobre-el-concurso.html">Sobre el concurso</a>  
        </li>
        <li class="nav__item">
            <a class="nav__link nav-link" href="./inscripcion.html">Inscripción</a>  
        </li>
    </ul>
</header>