<main class="poster">
    <header class="poster__header">
        <h1 class="poster__title"><span class="poster__title--highlighted">C</span>oncurso de <span class="poster__title--highlighted">C</span>ocina <span class="poster__title--highlighted">C</span>omarcal</>
        <img class="poster__icon" src="./assets/images/territory.png" alt="">
    </header>
    <div class="poster__item">
        <h3 class="poster__subtitle">¡Bienvenidos al Concurso de Cocina de la Comarca!</h3>
        <p class="poster__description">Un evento culinario único que celebra el talento gastronómico de nuestra región.</p>
    </div>
    <div class="poster__item">
        <h3 class="poster__subtitle">¿Tienes lo necesario para conquistar el exquisito paladar de nuestros jueces?</h3>
    </div>
    <div class="poster__item">
        <h3 class="poster__subtitle">¡Demuestra tus habilidades culinarias y compite por <a class="poster__link" href="sobre-el-concurso.html#premios">increíbles premios</a>!</h3>
    </div>
    <div class="poster__item">
        <h3 class="poster__subtitle">Tus platos serán valorados por reconocidos jueces</h3>
        <p class="poster__description"><a class="poster__link" href="sobre-el-concurso.html">Más información sobre el concurso</a></p>
    </div>
    <div class="poster__item">
        <h3 class="poster__subtitle">Ubicación:</h3>
        <p class="poster__description">Polideportivo del Nuevo Mar, Donis</p>
        <h3 class="poster__subtitle">Fecha:</h3>
        <p class="poster__description">25 y 26 de Mayo</p>
    </div>
    <div class="poster__sign-up">
        <h4 class="poster__sign-up-title">Inscríbete ahora y demuestra que eres el <span class="poster__sign-up-title--highlighted">mejor cocinero</span> de la comarca.</h4>
        <p class="poster__sign-up-description">Últimas plazas disponibles.</p>
        <button class="poster__sign-up-button btn btn-primary" onclick="window.location.href='./inscripcion.html'">Inscribirse <i class="fa-solid fa-utensils"></i></button>
    </div>
</main>